.container{
    border-bottom: 1px solid #C3C3C3;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 0.8rem;
    justify-content: space-between;
}
.mainTitle{
    font-family: 'Roboto';
    font-size: 1.2rem;
    font-weight: 500;
    color: white;
}
.subTitle{
    color: white;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 1.5rem;
}